apiVersion: v1
kind: Template
metadata:
  name: thorntail-istio-routing-client-service
  annotations:
    iconClass: icon-jboss
    tags: thorntail, routing, java, microservice
    template.openshift.io/provider-display-name: "Red Hat, Inc."
    description: The Istio Routing Mission shows routing with Istio
parameters:
- name: SOURCE_REPOSITORY_URL
  description: The source URL for the application
  displayName: Source URL
  required: true
- name: SOURCE_REPOSITORY_REF
  description: The branch name for the application
  displayName: Source Branch
  value: master
  required: true
- name: SOURCE_REPOSITORY_DIR
  description: The location within the source repo of the application
  displayName: Source Directory
  value: .
  required: true
- name: ARTIFACT_COPY_ARGS
  description: Syntax to be used to copy uberjar files to the target directory
  displayName: Copy Args
  value: '*-thorntail.jar'
  required: true
- name: GITHUB_WEBHOOK_SECRET
  description: A secret string used to configure the GitHub webhook.
  displayName: GitHub Webhook Secret
  required: true
  from: '[a-zA-Z0-9]{40}'
  generate: expression
- name: MAVEN_MIRROR_URL
  description: Maven Nexus Repository to be used during build phase
  displayName:
  required: false
objects:
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: thorntail-istio-routing-client
  spec: {}
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: runtime-thorntail-istio-routing-client
  spec:
    tags:
    - name: latest
      from:
        kind: DockerImage
        name: registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift
- apiVersion: v1
  kind: BuildConfig
  metadata:
    name: thorntail-istio-routing-client
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: thorntail-istio-routing-client:latest
    postCommit: {}
    resources: {}
    source:
      git:
        uri: ${SOURCE_REPOSITORY_URL}
        ref: ${SOURCE_REPOSITORY_REF}
      type: Git
    strategy:
      sourceStrategy:
        from:
          kind: ImageStreamTag
          name: runtime-thorntail-istio-routing-client:latest
        incremental: true
        env:
        - name: MAVEN_ARGS_APPEND
          value: "-pl ${SOURCE_REPOSITORY_DIR}"
        - name: ARTIFACT_DIR
          value: "${SOURCE_REPOSITORY_DIR}/target"
        - name: MAVEN_MIRROR_URL
          value: "${MAVEN_MIRROR_URL}"
        - name: ARTIFACT_COPY_ARGS
          value: "${ARTIFACT_COPY_ARGS}"
      type: Source
    triggers:
    - github:
        secret: ${GITHUB_WEBHOOK_SECRET}
      type: GitHub
    - type: ConfigChange
    - imageChange: {}
      type: ImageChange
  status:
    lastVersion: 0
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: thorntail-istio-routing-client
    name: thorntail-istio-routing-client
  spec:
    replicas: 1
    revisionHistoryLimit: 2
    strategy:
      rollingParams:
        timeoutSeconds: 3600
      type: Rolling
    template:
      metadata:
        annotations:
          sidecar.istio.io/inject: "true"
        labels:
          app: thorntail-istio-routing-client
      spec:
        containers:
        - env:
          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          image: thorntail-istio-routing-client:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
              command:
              - curl
              - http://localhost:8080/health
            initialDelaySeconds: 180
          name: thorntail
          ports:
          - containerPort: 8080
            name: http
            protocol: TCP
          - containerPort: 9779
            name: prometheus
            protocol: TCP
          - containerPort: 8778
            name: jolokia
            protocol: TCP
          readinessProbe:
            exec:
              command:
              - curl
              - http://localhost:8080/health
            initialDelaySeconds: 10
          securityContext:
            privileged: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - thorntail
        from:
          kind: ImageStreamTag
          name: thorntail-istio-routing-client:latest
      type: ImageChange
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: thorntail-istio-routing-client
    name: thorntail-istio-routing-client
  spec:
    ports:
    - name: http
      port: 8080
    selector:
      app: thorntail-istio-routing-client
- apiVersion: networking.istio.io/v1alpha3
  kind: Gateway
  metadata:
    name: thorntail-istio-routing-gateway
  spec:
    selector:
      istio: ingressgateway # use istio default controller
    servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
      - "*"
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    name: thorntail-istio-routing-client
  spec:
    hosts:
    - "*"
    gateways:
    - thorntail-istio-routing-gateway
    http:
    - match:
      - uri:
          prefix: /thorntail-istio-routing/
      - uri:
          prefix: /thorntail-istio-routing
      rewrite:
        uri: /
      route:
      - destination:
          host: thorntail-istio-routing-client
          port:
            number: 8080
- apiVersion: networking.istio.io/v1alpha3
  kind: DestinationRule
  metadata:
    name: thorntail-istio-routing-service
  spec:
    host: thorntail-istio-routing-service
    trafficPolicy:
      tls:
        mode: ISTIO_MUTUAL
    subsets:
    - name: a
      labels:
        version: a
    - name: b
      labels:
        version: b